body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  transition: 0.5s all;
  font-family: madhan;
  scroll-behavior: smooth;
}

:root {
  --color: #ff6634;
  --gray: #313436;
  --white: #def8ff;
  --light: #fff;
}


@font-face {
  font-family: madhan;
  src: url(../src/assests/fonts/Lato-Regular.ttf);
}